<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Catalog</h1>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Flowers</th>
				<th>G</th>
				<th>1/8</th>
				<th>1/4</th>
				<th>1/2</th>
				<th>OZ</th>
			</tr>
		</thead>
		<%= @products.each do |product| %>
			<tbody>
				<tr>
					<td><%= product.title %></td>
					<td><%= product.ppgram %></td>
					<td><%= product.ppeighth %></td>
					<td><%= product.ppquad %></td>
					<td><%= product.pphalf %></td>
					<td><%= product.ppoz %></td>
				</tr>
				<span><%= button_to 'Add to Cart', line_items_path(product_id: product)%></span>
			</tbody>
		<% end %>
	</table>
</div>
